/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
  min-height: 50em;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    font-size: inherit;
    padding-bottom: 13.5em;
    padding-top: 5em;
    position: relative;
    z-index: 1;
    background: url("/images/class-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #eceffe;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #hero .hero-content {
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    position: relative;
    z-index: 10;
  }
  #hero .hero-content {
    padding: 0;
  }
  #hero .heroText {
    width: 100%;
    max-width: 28.9em;
  }
  #hero h1 {
    font-weight: bold;
    font-size: 2.8em;
    color: #000000;
    line-height: 1.17857143;
    margin-bottom: 0.41071429em;
  }
  #hero p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 1.33333333em;
    color: #000;
  }
  #hero .buttons {
    display: flex;
    justify-content: flex-start;
  }
  #hero .button-solid {
    margin: 0;
    margin-right: 2.88888889em;
    height: 2.94444444em;
    padding-top: 0.16666667em;
  }
  #hero .call-now {
    height: 2.94444444em;
    width: 9.11111111em;
    font-size: 0.9em;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0;
  }
  #hero .call-now img {
    display: inline-block;
    width: 1.16666667em;
    height: 1.16666667em;
  }
  #hero .call-now .dark {
    display: none;
  }
  #hero .call-now span {
    display: block;
  }
  #hero .call-now .text {
    font-size: 0.6em;
    line-height: 1.16666667;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  #hero .call-now .number {
    font-weight: bold;
    line-height: 1.16666667;
    font-size: 1em;
  }
  #hero .business-casual {
    display: none;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 6.15em 0 11.45em 0;
    z-index: 1;
    overflow: hidden;
    background: url("/images/class.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero .hero-content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #hero .business-casual {
    display: block;
    width: 17.5em;
    position: absolute;
    right: 0;
    top: -3.5em;
    transform: scaleX(-1);
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    padding-top: 15em;
    padding-bottom: 14em;
    background-attachment: fixed;
  }
  #hero .business-casual {
    right: 2.5em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #services {
    padding-top: 0;
    margin-top: -6em;
    display: flex;
    flex-direction: column-reverse;
    z-index: 100;
    position: relative;
  }
  #services .service {
    background: #0e817c;
    padding: 2.1em;
    width: 90%;
    margin: auto;
  }
  #services .service:nth-of-type(2) {
    border-bottom: 0.05em solid rgba(73, 181, 176, 0.5);
  }
  #services .service:nth-of-type(2) {
    background: #10625e;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    order: 1;
    margin-bottom: 0;
  }
  #services .service:nth-of-type(2) .button-solid {
    color: #10625e;
  }
  #services .service:nth-of-type(2) .button-solid:before {
    background: var(--primary);
  }
  #services .service:nth-of-type(2) .button-solid:hover {
    color: #fff;
  }
  #services .service h2 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.16666667;
    margin-bottom: 0.625em;
    text-align: left;
    font-weight: 900;
  }
  #services .service h2 span {
    display: block;
    color: #fff;
  }
  #services .service p {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1.66666667em;
    opacity: 1;
  }
  #services .service .button-solid {
    background: #fff;
    color: #10625e;
  }
  #services .service .button-solid:hover {
    color: #fff;
  }
}
/* Large Phone */
@media only screen and (min-width: 600px) and (max-width: 790px) {
  #services {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(1) {
    border-right: 0.05em solid rgba(255, 255, 255, 0.05);
  }
  #services .service:nth-of-type(1),
  #services .service:nth-of-type(3) {
    width: 50%;
    border-radius: 0;
  }
  #services .service:nth-of-type(2) {
    order: -1;
  }
  #services .service:nth-of-type(2) h2,
  #services .service:nth-of-type(2) p {
    text-align: center;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  #services .service:nth-of-type(2) .button-solid {
    margin: auto;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 791px) {
  #services {
    flex-direction: row;
    align-items: flex-end;
    width: 96%;
    max-width: 57.2em;
    margin: auto;
    margin-top: -6.5em;
    position: relative;
    z-index: 100;
    padding: 0;
  }
  #services .service {
    margin: 0;
    width: 18.6em;
    height: auto;
    border-radius: 0.25em 0.25em 0 0;
  }
  #services .service:nth-of-type(2) {
    order: initial;
    width: 20em;
    height: 17.25em;
    border: none;
  }
  #services .service:last-of-type {
    border-radius: 0.25em 0.25em 0 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #services .service:nth-of-type(2) {
    box-shadow: none;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           About            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .about .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
  .about .right h2.sectionTitle {
    text-align: center;
  }
  .about .right p {
    max-width: 500px;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about .right {
    padding: 2em;
  }
}
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           save             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .save {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .save img {
    display: none;
  }
  .save .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .save .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
  .save .right h2.sectionTitle {
    text-align: center;
  }
  .save .right p {
    max-width: 500px;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .save {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .save .left {
    transform: scaleX(-1);
  }
  .save img {
    display: block;
  }
  .save .right {
    padding: 2em;
  }
}
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           share             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .share {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .share img {
    display: none;
  }
  .share .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .share .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
  .share .right h2.sectionTitle {
    text-align: center;
  }
  .share .right p {
    max-width: 500px;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .share {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .share img {
    display: block;
  }
  .share .right {
    padding: 2em;
  }
}
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           discover         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .discover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .discover img {
    display: none;
  }
  .discover .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .discover .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
  .discover .right h2.sectionTitle {
    text-align: center;
    margin-bottom: 0;
  }
  .discover .right p {
    max-width: 500px;
  }
  .discover .animated-bar {
    background-color: var(--primary);
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto 0 auto;
    position: relative;
    width: 175px;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
  }
  .discover .animated-bar::after {
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: barAnimation;
    -webkit-animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: barAnimation;
    animation-timing-function: linear;
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 12px;
  }
  @keyframes barAnimation {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  .discover {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .discover img {
    display: block;
  }
  .discover .left {
    position: relative;
    transform: scaleX(-1);
  }
  .discover .left:before {
    content: "";
    position: absolute;
    display: block;
    height: 70%;
    width: 60%;
    background: var(--primary);
    opacity: 0.1;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .discover .left:after {
    content: "";
    position: absolute;
    display: block;
    height: 170%;
    width: 150%;
    background: url("/images/content-circles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: -18.75em;
    left: 2.5em;
    z-index: -2;
  }
  .discover .right {
    padding: 2em;
  }
  .discover .list-items-entire-list .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
  }
  .discover .list-items-entire-list .list-item i {
    margin-right: 1em;
    font-size: 2em;
  }
}
/* Small Desktop */
/* Large Desktop */
